{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %}
<p>I have listed some intersting quant topic here from stochastic calculus to high performance computing.</p>
<ul>
    <li><a href="avx-performance">C++ Vectorization</a></li>
    <li><a href="hpc-vector">HPC Vector</a></li>
    <li><a href="project-euler">Project Euler</a></li>
    <li>Stochastic Process:</li>
    <ul>
        <li><a href="counting-process">Intro, Counting Process</a></li>
        <li><a href="poisson-process">Poisson Process</a></li>
        <li><a href="markov-process">Markov Process</a></li>
        <li><a href="gaussian-process">Gaussian Process</a></li>
        <li><a href="stationary-process">Stationary</a></li>
        <li><a href="stochastic-calculus">Stochastic Calculus</a></li>
        <li><a href="levy-process">Levy Process</a></li>
    </ul>
    <li><a href="about">About</a></li>
</ul>
{% endblock %}